# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: MyFestivalService API
    description: |-
        Stores each caller's personal festival state (bookmarks, notes, tastings,
         reviews) and serves back bucket-scoped aggregates. Writes are local-first on
         the client; this service holds the shared, cross-device state.

         All personal resources are singleton resources — one per (caller, drink).
         The caller's identity is resolved from the auth context; it never appears in
         resource names, keeping device IDs private and making the sign-in upgrade
         transparent to existing clients.
    version: 0.0.1
servers:
    - url: https://api.cambeerfestival.app
paths:
    /v1alpha/festivals/{festival}/bookmarks:
        get:
            tags:
                - MyFestivalService
            description: |-
                List all drinks the caller has bookmarked at a festival.

                 Intended for pre-loading "my festival" state on app open.
            operationId: MyFestivalService_ListBookmarks
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of bookmarks to return. The server default returns all of
                     the caller's bookmarks for the festival in a single page (festival drink
                     counts are bounded). Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListBookmarks response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListBookmarksResponse'
    /v1alpha/festivals/{festival}/drinks/{drink}/bookmark:
        get:
            tags:
                - MyFestivalService
            description: |-
                --- Bookmarks (caller-scoped singletons) ---------------------------------
                 Get the caller's bookmark for a drink.
            operationId: MyFestivalService_GetBookmark
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Bookmark'
        delete:
            tags:
                - MyFestivalService
            description: Remove the caller's bookmark for a drink.
            operationId: MyFestivalService_DeleteBookmark
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - MyFestivalService
            description: Create or update the caller's bookmark for a drink (upsert).
            operationId: MyFestivalService_UpdateBookmark
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to update. Omit to replace all writable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Bookmark'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Bookmark'
    /v1alpha/festivals/{festival}/drinks/{drink}/note:
        get:
            tags:
                - MyFestivalService
            description: |-
                --- Tasting notes (caller-scoped singletons) -----------------------------
                 Get the caller's tasting note for a drink.
            operationId: MyFestivalService_GetNote
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Note'
        delete:
            tags:
                - MyFestivalService
            description: Remove the caller's tasting note for a drink.
            operationId: MyFestivalService_DeleteNote
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - MyFestivalService
            description: Create or update the caller's tasting note for a drink (upsert).
            operationId: MyFestivalService_UpdateNote
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: Fields to update. Omit to replace all writable fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Note'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Note'
    /v1alpha/festivals/{festival}/drinks/{drink}/review:
        get:
            tags:
                - MyFestivalService
            description: |-
                --- Personal reviews (caller-scoped singletons) --------------------------
                 Get the caller's review for a drink.
            operationId: MyFestivalService_GetReview
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Review'
        delete:
            tags:
                - MyFestivalService
            description: Remove the caller's review for a drink.
            operationId: MyFestivalService_DeleteReview
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - MyFestivalService
            description: |-
                Create or update the caller's review for a drink (upsert).

                 Use `update_mask` to update a single signal (e.g. only `star_rating`)
                 without clearing the other.
            operationId: MyFestivalService_UpdateReview
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: |-
                    Fields to update. Omit to replace all writable fields. Specify
                     `star_rating` or `would_recommend` individually to update one signal
                     without affecting the other.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Review'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Review'
    /v1alpha/festivals/{festival}/drinks/{drink}/tasting:
        get:
            tags:
                - MyFestivalService
            description: |-
                --- Tasting log (caller-scoped singletons) -------------------------------
                 Get the caller's tasting record for a drink.
            operationId: MyFestivalService_GetTasting
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Tasting'
        delete:
            tags:
                - MyFestivalService
            description: Remove the caller's tasting record for a drink.
            operationId: MyFestivalService_DeleteTasting
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
        patch:
            tags:
                - MyFestivalService
            description: |-
                Create or update the caller's tasting record for a drink (upsert).

                 Use `update_mask` with `pours` to increment the pour count without
                 affecting other fields.
            operationId: MyFestivalService_UpdateTasting
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: drink
                  in: path
                  description: The drink id.
                  required: true
                  schema:
                    type: string
                - name: updateMask
                  in: query
                  description: |-
                    Fields to update. Omit to replace all writable fields. Specify `pours`
                     to update the pour count without affecting other fields.
                  schema:
                    type: string
                    format: field-mask
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Tasting'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Tasting'
    /v1alpha/festivals/{festival}/notes:
        get:
            tags:
                - MyFestivalService
            description: List all tasting notes the caller has written at a festival.
            operationId: MyFestivalService_ListNotes
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of notes to return. The server default returns all of the
                     caller's notes for the festival in a single page (festival drink counts
                     are bounded). Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListNotes response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNotesResponse'
    /v1alpha/festivals/{festival}/reviewSummaries:
        get:
            tags:
                - MyFestivalService
            description: List aggregate review signals for every reviewed drink at a festival.
            operationId: MyFestivalService_ListReviewSummaries
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of summaries to return. The server default returns all
                     summaries for the festival in a single page (drink counts are bounded).
                     Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListReviewSummaries response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListReviewSummariesResponse'
    /v1alpha/festivals/{festival}/reviewSummaries/{reviewSummary}:
        get:
            tags:
                - MyFestivalService
            description: |-
                --- Aggregates (public, not caller-scoped) --------------------------------
                 Get the aggregate review signals for a single drink.
            operationId: MyFestivalService_GetReviewSummary
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: reviewSummary
                  in: path
                  description: The reviewSummary id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ReviewSummary'
    /v1alpha/festivals/{festival}/reviews:
        get:
            tags:
                - MyFestivalService
            description: |-
                List all reviews the caller has left for drinks at a festival.

                 Only the caller's own reviews are returned; caller identity is implicit in
                 the auth context. Intended for pre-loading "my festival" state on app open.
            operationId: MyFestivalService_ListReviews
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of reviews to return. The server default returns all of the
                     caller's reviews for the festival in a single page (festival drink counts
                     are bounded). Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListReviews response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListReviewsResponse'
    /v1alpha/festivals/{festival}/tastingSummaries:
        get:
            tags:
                - MyFestivalService
            description: List tasting counts for every tried drink at a festival.
            operationId: MyFestivalService_ListTastingSummaries
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of summaries to return. The server default returns all
                     summaries for the festival in a single page (drink counts are bounded).
                     Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListTastingSummaries response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListTastingSummariesResponse'
    /v1alpha/festivals/{festival}/tastingSummaries/{tastingSummary}:
        get:
            tags:
                - MyFestivalService
            description: Get tasting counts for a single drink.
            operationId: MyFestivalService_GetTastingSummary
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: tastingSummary
                  in: path
                  description: The tastingSummary id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TastingSummary'
    /v1alpha/festivals/{festival}/tastings:
        get:
            tags:
                - MyFestivalService
            description: List all tasting records the caller has logged at a festival.
            operationId: MyFestivalService_ListTastings
            parameters:
                - name: festival
                  in: path
                  description: The festival id.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of tastings to return. The server default returns all of
                     the caller's tastings for the festival in a single page (festival drink
                     counts are bounded). Set explicitly to paginate.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: Page token from a previous ListTastings response.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListTastingsResponse'
components:
    schemas:
        Bookmark:
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/drinks/{drink}/bookmark.'
                createTime:
                    readOnly: true
                    type: string
                    description: When the bookmark was created.
                    format: date-time
            description: |-
                A drink the caller has bookmarked at a festival.

                 Singleton resource — one per (caller, drink). The resource's mere existence
                 means the drink is bookmarked; deleting it removes the bookmark. The caller
                 is implicit in the auth context.
        ListBookmarksResponse:
            type: object
            properties:
                bookmarks:
                    type: array
                    items:
                        $ref: '#/components/schemas/Bookmark'
                    description: The caller's bookmarks for this page, one per bookmarked drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks the caller has bookmarked at this festival.
                    format: int32
            description: Response message for ListBookmarks.
        ListNotesResponse:
            type: object
            properties:
                notes:
                    type: array
                    items:
                        $ref: '#/components/schemas/Note'
                    description: The caller's notes for this page, one per noted drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks the caller has notes for at this festival.
                    format: int32
            description: Response message for ListNotes.
        ListReviewSummariesResponse:
            type: object
            properties:
                reviewSummaries:
                    type: array
                    items:
                        $ref: '#/components/schemas/ReviewSummary'
                    description: Aggregate review signals for this page, one per reviewed drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks with at least one review at this festival.
                    format: int32
            description: Response message for ListReviewSummaries.
        ListReviewsResponse:
            type: object
            properties:
                reviews:
                    type: array
                    items:
                        $ref: '#/components/schemas/Review'
                    description: The caller's reviews for this page, one per reviewed drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks the caller has reviewed at this festival.
                    format: int32
            description: Response message for ListReviews.
        ListTastingSummariesResponse:
            type: object
            properties:
                tastingSummaries:
                    type: array
                    items:
                        $ref: '#/components/schemas/TastingSummary'
                    description: Tasting counts for this page, one per tried drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks tried by at least one caller at this festival.
                    format: int32
            description: Response message for ListTastingSummaries.
        ListTastingsResponse:
            type: object
            properties:
                tastings:
                    type: array
                    items:
                        $ref: '#/components/schemas/Tasting'
                    description: The caller's tasting records for this page, one per tried drink.
                nextPageToken:
                    type: string
                    description: Token for the next page; empty when there are no more results.
                totalSize:
                    type: integer
                    description: Total number of drinks the caller has tried at this festival.
                    format: int32
            description: Response message for ListTastings.
        Note:
            required:
                - content
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/drinks/{drink}/note.'
                content:
                    type: string
                    description: The caller's note text. Max 2000 Unicode characters.
                updateTime:
                    readOnly: true
                    type: string
                    description: When this note was last written.
                    format: date-time
            description: |-
                The caller's free-text tasting note for one drink at one festival.

                 Singleton resource — one per (caller, drink). The caller is implicit in the
                 auth context. A note is independent of a Review: you can note without rating,
                 or rate without noting.
        Review:
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/drinks/{drink}/review.'
                starRating:
                    type: integer
                    description: Star rating, 1–5 inclusive. Absent if the caller has not set a star rating.
                    format: int32
                wouldRecommend:
                    type: boolean
                    description: Whether the caller would recommend this drink. Absent if not answered.
                updateTime:
                    readOnly: true
                    type: string
                    description: When this review was last written.
                    format: date-time
            description: |-
                The caller's review of one drink at one festival: a star rating (1-5) and/or
                 a "would recommend" answer.

                 Singleton resource — one per (caller, drink). The caller is implicit in the
                 auth context; their identity never appears in the resource name, keeping
                 device IDs private and making the sign-in upgrade transparent to clients.

                 Both signals are optional and independent: a caller can rate without
                 answering the recommendation question, or vice versa.
        ReviewSummary:
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/reviewSummaries/{drink}.'
                ratingCount:
                    readOnly: true
                    type: integer
                    description: Number of callers who have submitted a star rating.
                    format: int32
                averageRating:
                    readOnly: true
                    type: number
                    description: Mean star rating across all callers (1.0–5.0); 0 when rating_count is 0.
                    format: double
                responseCount:
                    readOnly: true
                    type: integer
                    description: Number of callers who have answered the "would recommend" question.
                    format: int32
                recommendCount:
                    readOnly: true
                    type: integer
                    description: Number of callers who answered "yes" to the recommendation question.
                    format: int32
                recommendRate:
                    readOnly: true
                    type: number
                    description: |-
                        Fraction of responses (0.0–1.0) that would recommend; 0 when
                         response_count is 0.
                    format: double
            description: |-
                Computed, read-only aggregate of all callers' reviews for one drink.

                 Keyed by drink under the festival so the whole festival can be fetched in
                 one paginated call for list/grid views.
        Tasting:
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/drinks/{drink}/tasting.'
                pours:
                    type: integer
                    description: |-
                        How many times the caller has had this drink. Absent means one pour.
                         Must be >= 1 when present.
                    format: int32
                createTime:
                    readOnly: true
                    type: string
                    description: When the caller first tried this drink.
                    format: date-time
                updateTime:
                    readOnly: true
                    type: string
                    description: When this record was last updated.
                    format: date-time
            description: |-
                A record that the caller has tried a drink at a festival.

                 Singleton resource — one per (caller, drink). The caller is implicit in the
                 auth context. `pours` tracks how many times the caller has had this drink at
                 the festival (e.g. returned for a second half-pint); absent means one pour.
        TastingSummary:
            type: object
            properties:
                name:
                    type: string
                    description: 'Resource name: festivals/{festival}/tastingSummaries/{drink}.'
                tasterCount:
                    readOnly: true
                    type: integer
                    description: Number of distinct callers who have logged a tasting for this drink.
                    format: int32
                totalPours:
                    readOnly: true
                    type: integer
                    description: Total pours logged across all callers.
                    format: int32
            description: |-
                Computed, read-only aggregate of how many callers have tried a drink.

                 Useful for social discovery ("N people have tried this"). Keyed by drink
                 under the festival, matching the ReviewSummary pattern.
tags:
    - name: MyFestivalService
